{% import "components/shared.jinja" as shared %}
{% import "components/flashcards.jinja" as flashcards %}

<!DOCTYPE html>

<html lang="en">
    {{ shared.head(style_css_src) }}

    <body>
        <div class="wrapper">
            {{ shared.header(false) }}

            <div class="content buffered">
                <div class="ui-card" id="setid-prompt">
                    <form>
                        <div id="setid-formatted-block">
                            <span>https://quizlet.com/</span>
                            <input type="text" id="setid" name="setid" maxlength="9" value="{{ setid }}" placeholder="123456789">
                            <span>/</span>
                        </div>

                        <input type="submit" id="import-btn" class="btn-purple-glow" value="Import">
                    </form>

                    {% if cardset %}
                        <ul id="flashcard-list">
                            {% for card in cardset.flashcards %}
                                {{ flashcards.card(card) }}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="error-post"></div>
            </div>

            <ul id="cardset" class="empty"></ul>

            {{ shared.footer() }}
        </div>

        <script type="module" src="/static/js/global.js"></script>
        <script type="module" src="/static/js/flashcards.js"></script>
    </body>
</html>
